.jmdc-herotext {
    max-width: 830px;
    margin: 0 auto;
    padding: 72px 50px 70px 50px;
    text-align: center;
    @media (max-width: 991.98px) {
        padding: 50px 35px;
    }
    @media (max-width: 767.98px) {
        padding: 50px 15px;
    }
}

.jmdc-herotext.agency-text {
    max-width: 1000px;
    padding-top: 0;
    padding-bottom: 0;
}

.jmdc-herotext.agency-hero h1 {
    text-transform: uppercase;
    font-size: 100px;
    line-height: 100px;
    font-weight: 400;
    color: #06060C;

    @media (max-width: 991.98px) {
        font-size: 64px;
    }
    @media (max-width: 767.98px) {
        font-size: 40px;
        line-height: 40px;
    }
}
.jmdc-herotext__description {
    padding: 20px 0 0 0;
    @media (max-width: 767.98px) {
        padding: 15px 0 0 0;
    }
}
.jmdc-herotext__description p {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 20px;
    color: #06060C;
    font-weight: 500;
    white-space: pre-line;
    line-height: normal;
    @media (max-width: 767.98px) {
        font-size: 14px;
        white-space: normal;
    }
}

.jmdc-herotext.agency-text .jmdc-herotext__description {
    margin-inline: auto;
}

.jmdc-herotext__description p br {
    display: none;
}


@media (prefers-reduced-motion: reduce) {
    .jmdc-herotext--animate-on-load .jmdc-work__title,
    .jmdc-herotext--animate-on-load .jmdc-herotext__description {
        opacity: 1;
        transform: none;
        transition: none;
    }
}
