.jmdc-counter {
    background: #06060C;    
    /* margin: 50px 0; */
    @media (max-width: 767.98px) {
        margin: 25px 0px;
    }
}
.jmdc-counter .jmdc-work__inner {
    padding: 80px 75px;

    @media (max-width: 1599.98px) {
        padding: 80px 50px;
    }

    @media (max-width: 991.98px) {
        padding: 50px 35px;
    }

    @media (max-width: 767.98px) {
        padding: 50px 15px;
    }
}
.jmdc-counter .jmdc-counter__heading {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    @media (max-width: 767.98px) {
        font-size: 40px;
        line-height: 40px;
    }
}
.jmdc-counter .jmdc-counter__row {
    display: flex;
    flex-flow: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
    @media (max-width: 1024.98px) {
        gap: 40px;
        padding: 30px 0 0 0;
        justify-content: space-between;
    }
    @media (max-width: 767.98px) {
        flex-flow: column;
        gap: 40px;
    }
}
.jmdc-counter .jmdc-counter__item {
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.jmdc-counter .jmdc-counter__item .jmdc-counter__number {
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    @media (max-width: 1024.98px) {
        font-size: 80px;
        line-height: 80px;  
    }
    @media (max-width: 767.98px) {
        font-size: 60px;
        line-height: 60px;
    }
}
.jmdc-counter .jmdc-counter__item .jmdc-counter__label {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    @media (max-width: 1024.98px) {
        font-size: 20px;
    }
}
@media (max-width: 767.98px) {
    .jmdc-counter .jmdc-counter__heading {
        text-align: center;
    }
}