body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }
  
  strong, b {
    font-weight: 700;
  }
  

  @font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Bold.eot');
    src: url('../fonts/Articulat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Bold.woff2') format('woff2'),
        url('../fonts/Articulat-Bold.woff') format('woff'),
        url('../fonts/Articulat-Bold.ttf') format('truetype'),
        url('../fonts/Articulat-Bold.svg#FONTSPRINGDEMO-ArticulatCFBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-BoldOblique.eot');
    src: url('../fonts/Articulat-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-BoldOblique.woff2') format('woff2'),
        url('../fonts/Articulat-BoldOblique.woff') format('woff'),
        url('../fonts/Articulat-BoldOblique.ttf') format('truetype'),
        url('../fonts/Articulat-BoldOblique.svg#FONTSPRINGDEMO-ArticulatCFBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-DemiBold.eot');
    src: url('../fonts/Articulat-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-DemiBold.woff2') format('woff2'),
        url('../fonts/Articulat-DemiBold.woff') format('woff'),
        url('../fonts/Articulat-DemiBold.ttf') format('truetype'),
        url('../fonts/Articulat-DemiBold.svg#FONTSPRINGDEMO-ArticulatCFDemiBoldRegular') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-DemiBoldOblique.eot');
    src: url('../fonts/Articulat-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-DemiBoldOblique.woff2') format('woff2'),
        url('../fonts/Articulat-DemiBoldOblique.woff') format('woff'),
        url('../fonts/Articulat-DemiBoldOblique.ttf') format('truetype'),
        url('../fonts/Articulat-DemiBoldOblique.svg#FONTSPRINGDEMO-ArticulatCFDemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-ExtraBold.eot');
    src: url('../fonts/Articulat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Articulat-ExtraBold.woff') format('woff'),
        url('../fonts/Articulat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Articulat-ExtraBold.svg#FONTSPRINGDEMO-ArticulatCFExtraBoldRegular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-ExtraBoldOblique.eot');
    src: url('../fonts/Articulat-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-ExtraBoldOblique.woff2') format('woff2'),
        url('../fonts/Articulat-ExtraBoldOblique.woff') format('woff'),
        url('../fonts/Articulat-ExtraBoldOblique.ttf') format('truetype'),
        url('../fonts/Articulat-ExtraBoldOblique.svg#FONTSPRINGDEMO-ArticulatCFExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-ExtraLight.eot');
    src: url('../fonts/Articulat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Articulat-ExtraLight.woff') format('woff'),
        url('../fonts/Articulat-ExtraLight.ttf') format('truetype'),
        url('../fonts/Articulat-ExtraLight.svg#FONTSPRINGDEMO-ArticulatCFExtraLightRegular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-ExtraLightOblique.eot');
    src: url('../fonts/Articulat-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-ExtraLightOblique.woff2') format('woff2'),
        url('../fonts/Articulat-ExtraLightOblique.woff') format('woff'),
        url('../fonts/Articulat-ExtraLightOblique.ttf') format('truetype'),
        url('../fonts/Articulat-ExtraLightOblique.svg#FONTSPRINGDEMO-ArticulatCFExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Heavy.eot');
    src: url('../fonts/Articulat-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Heavy.woff2') format('woff2'),
        url('../fonts/Articulat-Heavy.woff') format('woff'),
        url('../fonts/Articulat-Heavy.ttf') format('truetype'),
        url('../fonts/Articulat-Heavy.svg#FONTSPRINGDEMO-ArticulatCFHeavyRegular') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-HeavyOblique.eot');
    src: url('../fonts/Articulat-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-HeavyOblique.woff2') format('woff2'),
        url('../fonts/Articulat-HeavyOblique.woff') format('woff'),
        url('../fonts/Articulat-HeavyOblique.ttf') format('truetype'),
        url('../fonts/Articulat-HeavyOblique.svg#FONTSPRINGDEMO-ArticulatCFHeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Light.eot');
    src: url('../fonts/Articulat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Light.woff2') format('woff2'),
        url('../fonts/Articulat-Light.woff') format('woff'),
        url('../fonts/Articulat-Light.ttf') format('truetype'),
        url('../fonts/Articulat-Light.svg#FONTSPRINGDEMO-ArticulatCFLightRegular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-LightOblique.eot');
    src: url('../fonts/Articulat-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-LightOblique.woff2') format('woff2'),
        url('../fonts/Articulat-LightOblique.woff') format('woff'),
        url('../fonts/Articulat-LightOblique.ttf') format('truetype'),
        url('../fonts/Articulat-LightOblique.svg#FONTSPRINGDEMO-ArticulatCFLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Medium.eot');
    src: url('../fonts/Articulat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Medium.woff2') format('woff2'),
        url('../fonts/Articulat-Medium.woff') format('woff'),
        url('../fonts/Articulat-Medium.ttf') format('truetype'),
        url('../fonts/Articulat-Medium.svg#FONTSPRINGDEMO-ArticulatCFMediumRegular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-MediumOblique.eot');
    src: url('../fonts/Articulat-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-MediumOblique.woff2') format('woff2'),
        url('../fonts/Articulat-MediumOblique.woff') format('woff'),
        url('../fonts/Articulat-MediumOblique.ttf') format('truetype'),
        url('../fonts/Articulat-MediumOblique.svg#FONTSPRINGDEMO-ArticulatCFMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Normal.eot');
    src: url('../fonts/Articulat-Normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Normal.woff2') format('woff2'),
        url('../fonts/Articulat-Normal.woff') format('woff'),
        url('../fonts/Articulat-Normal.ttf') format('truetype'),
        url('../fonts/Articulat-Normal.svg#FONTSPRINGDEMO-ArticulatCFNormalRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-NormalOblique.eot');
    src: url('../fonts/Articulat-NormalOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-NormalOblique.woff2') format('woff2'),
        url('../fonts/Articulat-NormalOblique.woff') format('woff'),
        url('../fonts/Articulat-NormalOblique.ttf') format('truetype'),
        url('../fonts/Articulat-NormalOblique.svg#FONTSPRINGDEMO-ArticulatCFNormalItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Regular.eot');
    src: url('../fonts/Articulat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Regular.woff2') format('woff2'),
        url('../fonts/Articulat-Regular.woff') format('woff'),
        url('../fonts/Articulat-Regular.ttf') format('truetype'),
        url('../fonts/Articulat-Regular.svg#FONTSPRINGDEMO-ArticulatCFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Oblique.eot');
    src: url('../fonts/Articulat-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Oblique.woff2') format('woff2'),
        url('../fonts/Articulat-Oblique.woff') format('woff'),
        url('../fonts/Articulat-Oblique.ttf') format('truetype'),
        url('../fonts/Articulat-Oblique.svg#FONTSPRINGDEMO-ArticulatCFItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-Thin.eot');
    src: url('../fonts/Articulat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-Thin.woff2') format('woff2'),
        url('../fonts/Articulat-Thin.woff') format('woff'),
        url('../fonts/Articulat-Thin.ttf') format('truetype'),
        url('../fonts/Articulat-Thin.svg#FONTSPRINGDEMO-ArticulatCFThinRegular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat-ThinOblique.eot');
    src: url('../fonts/Articulat-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Articulat-ThinOblique.woff2') format('woff2'),
        url('../fonts/Articulat-ThinOblique.woff') format('woff'),
        url('../fonts/Articulat-ThinOblique.ttf') format('truetype'),
        url('../fonts/Articulat-ThinOblique.svg#FONTSPRINGDEMO-ArticulatCFThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}