.jmdc-site-header {
    padding: 50px;
  }
  
  .jmdc-site-header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  /* Center logo */
  .jmdc-site-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .jmdc-site-header__logo img {
    display: block;
    height: 53px;
    width: auto;
  }
  
  /* Nav */
  .jmdc-site-header__nav .jmdc-header-menu {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .jmdc-site-header__nav .jmdc-header-menu a {
    color: #2C2E35;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  