body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

strong, b {
    font-weight: 700;
}


.jmdc-main-page-content {
    margin-top: 130px;
}