.jmdc-case-study {
  background: #fff;

  &__inner {
    width: 100%;
  }

  &__content {
    margin: 0 auto;
    padding: 120px 0 80px;

    > * {
      margin-top: 0;
      margin-bottom: 24px;
    }

    img,
    video {
      display: block;
      height: auto;
    }

    video {
        width: 100%;
    }

    figure {
      margin: 0;
      &.wp-block-image {
        width: 100%;
      }
    }

    .wp-block-image {
      margin: 0;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
      }
    }

    .wp-block-video {
      margin: 0 0 24px;

      video {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .wp-block-spacer {
      margin-bottom: 0;
    }

    .wp-block-group {
      margin-bottom: 24px;
    }

    .wp-block-columns {
      display: flex;
      flex-wrap: nowrap;
      gap: 24px;
      margin: 0 0 24px;
      max-width: calc(100vw - 60px);
      margin-left: auto;
      margin-right: auto;

      &.is-not-stacked-on-mobile {
        flex-wrap: nowrap;
      }

      .wp-block-image {
        figure {
            width: 100%;
        }
        
        img {
            width: 100%;
            aspect-ratio: 4 / 5;
            height: auto;
            object-fit: cover;
        }
      }

      .wp-block-column {
        flex: 1 1 0;
        min-width: 0;
        margin: 0;

        > *:last-child {
          margin-bottom: 0;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-top: 0;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h2 {
        text-align: center;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 100px; /* 100% */
        letter-spacing: 4px;
    }

    h1, h2 {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 80px;
        padding-right: 80px;
        box-sizing: content-box;
    }

    p {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        max-width: calc(100vw - 60px);
        box-sizing: content-box;
        margin-left: auto;
        margin-right: auto;
        color: #2C2E35;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        text-transform: uppercase;
        font-family: "articulat-cf", sans-serif;
        max-width: 900px;
        strong {
          color: #06060C;
          font-size: 26px;
          font-weight: 700;
          @media (max-width: 781px) {
            font-size: 16px;
            line-height: 1.5;
          }
        }
    }

    p:last-child,
    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child {
      margin-bottom: 0;
    }

    .wp-block-group > .wp-block-columns:last-child,
    .wp-block-group > .wp-block-image:last-child,
    .wp-block-group > .wp-block-video:last-child {
        margin-bottom: 0;
    }

    /* EVERYTHING else = full bleed */
    .wp-block-image {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* ONLY direct children of content wrapper get gutters */
    > .wp-block-image {
        max-width: calc(100% - 48px);
        margin-left: auto;
        margin-right: auto;
    }

  }
}

@media (min-width: 782px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 781px) {
 .desktop-only {
    display: none !important;
 }
  .jmdc-case-study {
    &__inner {
      padding: 0;
    }
  .jmdc-case-study__content .wp-block-columns .wp-block-image img {
    aspect-ratio: 1 / 1;
  }

    &__content {

      .wp-block-columns {
        flex-wrap: wrap;
        gap: 12px;

        .wp-block-column {
          flex: 0 0 100%;
        }

        &.is-not-stacked-on-mobile {
          flex-wrap: nowrap;

          .wp-block-column {
            flex: 1 1 0;
          }
        }
      }

            h1 {
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.2;
            }

            h2 {
            text-align: center;
            font-size: 42px;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: 1.5px;
            }

            p {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            }
    }
  }
}