.jmdc-simple-list-content {
    background-color: #06060C;
    margin: 50px 0;
    @media (max-width: 767.98px) {
        margin: 25px 0px;
    }
}
.jmdc-simple-list-content .jmdc-work__inner {
    padding: 80px 20px;
    @media (max-width: 767.98px) {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }
}
.jmdc-simple-list-content .jmdc-simple-list-content__item {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    @media (max-width: 767.98px) {
        font-size: 20px;
    }
}